# Основные зависимости
selenium==4.35.0
webdriver-manager==4.0.2
pydantic==2.11.7
pydantic-settings==2.10.1
requests==2.32.4

# Тестовые зависимости
pytest==8.4.1
allure-pytest==2.15.0
pytest-xdist==3.8.0
pytest-cov==6.2.1
pytest-html==4.1.1
